<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/load.css">
</head>

<body onload="loadingData()">


<div style="display:none;" id="page" class="animate-bottom">
    <h1>System fault detection</h1>
    <form id="form">

        <label for="fname">number of days:</label><br>
        <input type="text" id="fname" name="fname"><br>
        <button id="submitItem" value="Submit" type="button" onclick="show()">Submit</button>
    </form>
    <label for="myid">selected id:</label><br>
    <select id="myid" form="form">

    </select>

    <div id="graph">
        <div id="loader-graph" style="display:none;"></div>
        <div id="data" class="chart">
            <div id="chart"></div>
        </div>
    </div>

</div>
<div id="loader"></div>

</body>


<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">

    function loadingData() {
        let theUrl = "http://127.0.0.1:5000/get_sql_ids"
        let xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function () {
            if (xmlHttp.status === 200 && xmlHttp.readyState === 4) {

                let elements = JSON.parse(xmlHttp.responseText);
                let select = document.querySelector("#myid")

                for (let elt of elements) {
                    let option = document.createElement("option");
                    option.text = elt;
                    option.value = elt;
                    select.appendChild(option);
                }
                document.getElementById("loader").style.display = "none"
                document.getElementById("page").style.display = "block"
            }
        };
        xmlHttp.open("GET", theUrl);
        xmlHttp.send();
    }


    function show() {
        document.getElementById("loader-graph").style.display = "block"

        let days = document.getElementById("fname").value
        let e = document.getElementById("myid")
        let sql_id = e.value

        //remove the error message
        if (document.getElementById("error") != null)
            document.getElementById("error").remove()


        //remove previous plot
        document.getElementById("chart").remove()
        let child = document.createElement("div");
        child.id = "chart";
        document.getElementById("data").append(child)

        if (days === "" || days==="0" ) {

            showError("please enter valid days number")
        } else {
            let theUrl = "http://127.0.0.1:5000/plot?sql_id=" + sql_id + "&days_num=" + days
            let xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function () {

                if (xmlHttp.status === 200 && xmlHttp.readyState === 4) {

                    document.getElementById("loader-graph").style.display = "none"
                    let graph = JSON.parse(xmlHttp.responseText);
                    Plotly.plot('chart', graph, {});

                } else if (xmlHttp.status === 400 && xmlHttp.readyState === 4) {
                    showError(xmlHttp.responseText)
                }
            };
            xmlHttp.open("GET", theUrl);
            xmlHttp.send();
        }
        return false;
    }

    function showError(s) {
        document.getElementById("loader-graph").style.display = "none"
        let child = document.createElement("div");
        child.id = "error";
        child.innerHTML = "<p>" + s + "</p>"
        document.getElementById("graph").append(child)
    }

    //cash file find all the ids
    // every day update the cash
    // we will need
</script>
<script>

</script>
</html>